.handlevognOversikt {
    display:flex;
    flex-direction: column;
    padding-top: 100px;
    flex: 1;
    align-items: flex-start;
    margin-left: 10em;
    margin-right: 10em;
}

.handlevognImage {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid black;
}

.handlevognItemTitle {   
    font-weight: bold;
    color: #000;
    display: flex;
}

.handlevognItemDescription {
    display:flex;
    font-size: 1.2em;
}

.handlevognItem {
    display: flex;
    align-items: center;
    gap: 7em;
    width: 100%;
}

.handlevognItemPrice {
    display:flex;
}

.handlevognItemTitleDescriptionPrice {
    display: flex;
    flex-direction: column;
}

.handlevognIndividualTotal{
    display: flex;
    gap: 0.5em;
}

.handlevognQuantityUpdater {
    display: flex;
    max-height: 20px;
    align-self: center;
    cursor: pointer;
}

.handlevognQuantity {
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end
}

.handlevognItemDelete {
    display: flex;
    color: red;
    font-size: 30px;
    flex-direction: row;
}

.deleteItemIcon {
    cursor: pointer;
}

.handlevognEmpty{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.handlevognEmptyText {
    display: flex;
    color: red;
    cursor:pointer;
    font-size: 15px;
    width: 140px;
    justify-content: flex-end;
}

.handlevognEmptyText:hover{
    text-decoration: underline;
    color: red;
}

.handlevognTotal {
    display: flex;    
    justify-content: flex-end;
    gap:5px;
}

.paymentButtonDiv{
    display: flex;
    justify-content: center;
}

.betalKnapp {
    display: flex;
    cursor: pointer;
    width: 200px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-lightgreen-200);
    border: 0;
    border-radius: 4px;
    font-size:20px;
}

.checkoutBottomPart {
    width: 100%;
}
