@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-copy: Poppins;
  --header-2: Montserrat;

  /* font sizes */
  --font-size-5xs: 8px;
  --font-size-4xs: 10px;
  --font-size-3xs: 12px;
  --font-size-2xs: 14px;
  --font-size-xs: 15px;
  --font-size-sm: 16px;
  --body-copy-size: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 27.43px;
  --font-size-3xl: 30px;
  --header-2-size: 40px;
  --header-1-size: 60px;

  /* Colors */
  --color-white: #fff;
  --color-gray: #111;
  --color-black: #000;
  --color-lightgreen-100: #7ae992;
  --color-lightgreen-200: #5fde7b;
  --color-silver: #c4c4c4;
  --color-mediumblue: #3245f4;
  --color-red: #ff0000;
  --color-gainsboro: #e1e1e1;
  --color-whitesmoke: #f5f5f5;
}